
.my-brand{
    color: rgba(0, 0, 0, 0.904);
    letter-spacing: 0.8px;
}

.menu-link{
    color: black;
    transition: all 0.2s ease-in;

}
.menu-link:hover{
    color: #289BDE;
}
.btn-register{
    color: #289BDE;
    border: 1px solid #289BDE;
    transition: all 0.2s ease-in;
}
.btn-register:hover{
    background:#289BDE ;
    color: white;
}
.get-started-btn, .view-btn{
    background:#289BDE ;
    color: white;
 
    transition: all 0.2s ease-in;

}

.get-started-btn:hover, .view-btn:hover{
    background:linear-gradient(30deg, #289bde91 , #289bdeee);
    color: white;
   
}

.price-color{
    color: #289BDE;
}
.terms-privacy{
    color: white;
    transition: all 0.3s ease;
}
.terms-privacy:hover{
    color: #289BDE;
   
}

.icon{
    border: 1px solid transparent;
    border-radius: 50%;
}

.icon:hover{
    border: 1px solid #289BDE;

}